<div *ngFor="let entry of entrevistaEntries" class="card" (click)="toggleCard(entry)">
  <div class="question">{{ entry.Pregunta }}</div>
  <div *ngIf="entry.mostrarRespuesta" class="answer">{{ entry.Respuesta }}</div>
</div>
