<div class="not-found-container">
  <div class="error-icon">
    <!-- Puedes reemplazar este SVG con el que desees -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="12" cy="12" r="10" />
      <line x1="15" y1="9" x2="9" y2="15" />
      <line x1="9" y1="9" x2="15" y2="15" />
    </svg>
  </div>
  <h1>404</h1>
  <p>Página no encontrada</p>
</div>
