.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error-icon {
  margin-bottom: 16px;
  color: #ff3d00; /* Puedes ajustar el color según tu preferencia */
}

h1 {
  font-size: 2.5em;
  margin-bottom: 8px;
}

p {
  font-size: 1.2em;
  color: #757575; /* Puedes ajustar el color según tu preferencia */
}
