<mat-drawer-container class="sidebar-container" autosize>

  <mat-drawer #drawer class="sidebar-content" mode="side" [opened]="toogle$ | async" >

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="sidebar-menu-list">
      <mat-button-toggle value="bold" routerLink="/">Inicio</mat-button-toggle>
      <mat-button-toggle value="bold" routerLink="/faq">FAQ</mat-button-toggle>
      <mat-button-toggle value="italic" routerLink="/page1">Item 1</mat-button-toggle>
      <mat-button-toggle value="underline" routerLink="/page2">Item 2</mat-button-toggle>
      <mat-button-toggle value="underline" routerLink="/page3">Item 3</mat-button-toggle>
      <mat-button-toggle value="underline" routerLink="/page4">Item 4</mat-button-toggle>
      <mat-button-toggle value="underline" routerLink="/page5">Item 5</mat-button-toggle>
    </mat-button-toggle-group>

  </mat-drawer>

  <mat-drawer-content class="variable-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
