.sidebar-container {
  width: 100%;
  height: 85vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidebar-content {
  padding: 0;
  width: 150px;
}

.sidebar-menu-list {
  display: flex;
  flex-direction: column;
  border: 0;
}

::ng-deep .mat-button-toggle-label-content {
  line-height: 2.5 !important;
  margin-left: 15px;
}

::ng-deep .mat-button-toggle-button {
  text-align: left !important;
}

.variable-content {
  margin: 10px;
  padding: 10px;
}
